---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/hero-section";
import SocialLinks from "../components/home/social-links";
---

<Layout title="思考随笔 - 个人博客" currentPath={Astro.url.pathname}>
  <div
    class="container mx-auto py-12 px-4 sm:px-6 flex flex-col min-h-[calc(100vh-180px)]"
  >
    <HeroSection client:load />
    <SocialLinks />
  </div>
</Layout>
