---
import { cn } from "@/lib/utils";
let { highlight } = Astro.props;
---

<header class="flex justify-center">
  <div>
    <a href="/" class={highlight === "index" ? "opacity-100" : "opacity-70"}>
      Home
    </a>
  </div>
  <!-- <div>
    <a
      href="/friends"
      class={highlight === "friends" ? "opacity-100" : "opacity-70"}>Friends</a
    >
  </div> -->
  <div>
    <a
      href="/about"
      class={highlight === "about" ? "opacity-100" : "opacity-70"}>About</a
    >
  </div>
  <div>
    <a href="/atom.xml" class="opacity-70">RSS</a>
  </div>
</header>
