---
import GlobalStyle from "../components/global-style.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/meta.astro";
import Navbar from "@/components/header";
import { DeviceDetector } from "@/hooks/useDevice";
import BasicScripts from "@/components/common/BasicScripts.astro";
import "@/styles/global.css";

let { highlight } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
    <GlobalStyle />
    <Meta />
    <!-- <DeviceDetector client:load /> -->
  </head>
  <body>
    <Navbar client:load />
    <main>
      <div id="app" class="flex justify-center">
        <slot />
      </div>
      <Footer />
    </main>

    <BasicScripts />
  </body>
</html>
