---
import GlobalStyle from "../components/global-style.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/meta.astro";
import Menu from "@/components/header/index.tsx";
import "@/styles/global.css";

let { pageName, highlight } = Astro.props;
console.log(highlight);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
    <GlobalStyle />
    <Meta />
  </head>
  <body>
    <Menu client:load highlight={highlight} />
    <main>
      <div id="app" class="flex justify-center">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
